.contentwrapper {
  padding: 32px;
  background-color: #ffffff;
  margin-top: 12px;
  margin-bottom: 24px;
}

.bottomContainer {
  display: grid;
  grid-template-areas:
  "category face"
  "career face";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 160px;

}
#categoryBox {
  grid-area: category;
  justify-self: start;
}
#facePhotoBox {
  grid-area: face;
  height: 200px;
}

#careerBox {
  padding: 12px;
  max-width: 300px;
  font-size: 0.8em;
  line-height: 1.1;
  justify-self: end;
  align-self: end;
  grid-area: career;
}
.careerLabo {
  font-size: 1.1em;
  font-weight: 500;
}

.top {
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  line-height: 1.3;
}
.title {
  color: rgba(0, 0, 0, 0.87);
  font-size: 32px;
  font-weight: bolder;
  margin: 4px 0 4px 0;
  word-break: break-all;
}

.laboname {
  box-sizing: inherit;
}
.categorybox {
  display: flex;
  align-items: center;
}
.categorycolor {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.categorytype {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
  margin-left: 8px;
}

.categorytype a {
  color: rgba(0, 0, 0, 0.87);
}

.slash::before {
  content: " / ";
  font-size: 120%;
  font-weight: bold;
}
.tagbox {
  display: inline-block;
}

.tag {
  margin-right: 4px;
  color: inherit;
  font-size: 14px;
  line-height: 1.8;
}

.tag:not(:last-child)::after {
  content: ",";
  margin-right: 4px;
}

.pdfbox {
  display: block;
}
.pdfbox a {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.5);
}
.btnbox {
  display: flex;
  flex-direction: row-reverse;
}
.pdfbtn {
  display: block;
  margin: 5px;
}

.teacherpic {
  width: 160px;
  height: 200px;
  object-fit: contain;
}
.description {
  padding: 4px;
}
.preface {
  margin: 6px 0 6px 0;
  padding: 24px 16px 16px 48px;
  background-color: rgb(255, 238, 251);
  font-size: 0.9em;
  line-height: 1.3;
  border-radius: 8px;
}

.body h2 {
  margin: 40px 0 13px 4px;
  padding: 5px 0 5px 15px;
  font-size: 1.3em;
  font-weight: bolder;
  border-left: 5px solid rgba(0, 0, 0, 0.856) ;
}
.body p {
  color: rgba(0, 0, 0, 0.856);
  font-feature-settings: "pwid";
  line-height: 1.8;
  font-size: 1em;
  font-weight: lighter;
  margin-bottom: 12px;
}
@media (max-width: 800px) {
  .bottomContainer {
    grid-template-areas:
    "category category"
    "career face";
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 160px;
  }
}
@media (max-width: 750px) {
    .bottomContainer {
      grid-template-areas:
      "category"
      "face"
      "career";
      grid-template-rows: 1fr auto;
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }