@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/utilities";
body {
  background-color: #e9e9e9;
}
a {
  color: rgba(0, 22, 82, 0.8);
}

a:hover {
  color: rgba(0, 9, 51, 0.8);
}
